.top{
    max-width: 1600px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    padding:30px;
  
    
  }

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }


.topnav {
    margin-top:6px;
    margin-right:70px;
    padding:5px;
    float: right;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    overflow: auto;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float:right;
    color:black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: black;
    color: white;
  }
  .name{
    font-family: 'Josefin Sans', sans-serif;
    font-size:30px;
    float: left;
    text-decoration:none;
    color:black;
    width:256px;
  }

.map{
    /*margin-top:100px;*/
    text-align:center;
    width:100%;
}

.live{
  font-size:50px;
  margin-top:50px;
  padding: 40px;
  font-family: 'Playfair Display', serif;

}

.title{
    margin-top:50px;
    text-align:center;
    font-weight: 300;
    font-size:75px;
}

.text{
    margin-top:25px;
    text-align:center;
}

.bigimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width:20%;
}

.contact{
  text-align:center;
}